@page 
@using LegionTDServerReborn.Models
@using LegionTDServerReborn.Extensions
@using Microsoft.AspNetCore.Html
@model BuildersModel
@{
    ViewData["Title"] = "Builders";
}

<h2>Builders</h2>

<div class="row">
    @{
        foreach(var builder in Model.Builders) {
            <div class="col-md-3 col-sm-4">
                <div class="builder clickable-row" data-href="/Builders/@builder.FractionName">
                    <img src='/images/builder/big/@(builder.FractionName + ".jpg")' class="builder-img">
                    <div class="builder-content">
                        <h3>@builder.DisplayName</h3>
                        <table class="builder-stat-table">
                            <tr>
                                <td>
                                    Pick Rate
                                </td>
                                <td>
                                    @($"{builder.Fraction.CurrentStatistic.PickRate * 100:0.00}%")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Win Rate
                                </td>
                                <td>
                                    @($"{builder.Fraction.CurrentStatistic.WinRate * 100:0.00}%")
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>

<!-- <div class='table-responsive'>
    <table class='table table-striped table-hover'>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Pick Rate
                </th>
                <th>
                    Win Rate
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var builder in Model.Builders) {
                    <tr data-href="/Builders/@builder.FractionName" class="clickable-row">
                        <td>
                            <img src='/images/builder/@(builder.FractionName + ".png")' class="builder-icon">
                            @builder.DisplayName
                        </td>
                        <td>
                            @($"{builder.Fraction.CurrentStatistic.PickRate * 100:0.00}%")
                        </td>
                        <td>
                            @($"{builder.Fraction.CurrentStatistic.WinRate * 100:0.00}%")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div> -->

@section scripts {
    <script>
        $(function () {
            $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
        });
    </script>
}
