@page
@using LegionTDServerReborn.Models
@using Microsoft.AspNetCore.Html
@using LegionTDServerReborn.Extensions
@using LegionTDServerReborn.Helpers
@model MatchesModel
@{
    ViewData["Title"] = "Last Matches";
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_PartialSiteViewNavigator", Model)
<div class='table-responsive'>
    <table class="table table-responsive table-hover table-striped">
        <col width='10%'><col width='20%'><col width='10%'><col width='10%'><col width='10%'><col width='20%'><col width='20%'>
        <thead>
            <tr>
                <th>
                    Match ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Last Wave
                </th>
                <th>
                    Winner
                </th>
                <th>
                    Radiant Team
                </th>
                <th>
                    Dire Team
                </th>
            </tr>
        </thead>
        <tbody id="match_table_body">
            @{
                foreach(var match in @Model.Matches) {
                    <tr class='clickable-row' data-href='/Matches/@match.MatchId'>
                        <td>@match.MatchId</td>
                        <td>@match.GetFormattedDate()</td>
                        <td>@match.GetFormattedTime()</td>
                        <td>@match.LastWave</td>
                        <td>@Html.TeamToHtml(match.Winner)</td>
                        <td>
                            @foreach(var player in match.PlayerData.Where(p => p.Team == 2)) {
                                @await Html.PartialAsync("_PartialFractionIcon", player.FractionName)
                            }
                        </td>
                        <td>
                            @foreach(var player in match.PlayerData.Where(p => p.Team == 3)) {
                                @await Html.PartialAsync("_PartialFractionIcon", player.FractionName)
                            }
                        </td>
                    </tr>;
                }
            }
        </tbody>
    </table>
</div>
<p class='text-right matches-indicator'>
    @((Model.Site-1) * MatchesModel.MatchesPerSite + 1) - @(Model.Site * MatchesModel.MatchesPerSite) of @Model.MatchCount
</p>
@await Html.PartialAsync("_PartialSiteViewNavigator", Model)

@section scripts {
    <script>
        $(function () {
            $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
        });
    </script>
}
