@page "{playerId:long}"
@using LegionTDServerReborn.Models
@using LegionTDServerReborn.Extension
@using LegionTDServerReborn.Helpers
@using Microsoft.AspNetCore.Html
@model PlayerModel
@{
    ViewData["Title"] = @Model.SteamPlayer.PersonaName;
}

<div class='match-header container'>
    <div class='col-lg-4 col-md-4 match-title'>
        <span class='match-title'><img src='@Model.SteamPlayer.Avatar'> @ViewData["Title"]</span>
    </div>
    <div class='col-lg-8 col-md-8 col-sm-12 col-xs-12' style="">
        <div class='container-fluid' id='match_info' style="">
            @{
                var dictionary = new Dictionary<string, string>();
                dictionary["Last Game"] = @Model.Player.MatchDatas.Max(m => m.Match.Date).ToString("dd.MM.yy HH:mm");
                dictionary["Rating"] = @Model.Player.Rating.ToString();
                dictionary["Record"] = $"<span class='radiant'>{@Model.Player.WonGames}</span> - <span class='dire'>{@Model.Player.LostGames}</span>";
                dictionary["Win Rate"] = (@Model.Player.WinRate * 100).ToString("00.00") + "%";
                foreach (var pair in dictionary) {
                    <div class='col-md-3 col-sm-3 col-xs-6 match-info'>
                        <p class='match-info-title'>@pair.Key</p>
                        <p class='match-info-value'>@Html.Raw(pair.Value)</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class='table-responsive'>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <td>
                Match ID
            </td>
            <td>
                Date
            </td>
            <td>
                Duration
            </td>
            <td>
                Winner
            </td>
            <td>
                Last Wave
            </td>
            <td>
                Rating
            </td>
        </thead>
        <tbody id="match_table_body">
            @{
                Func<PlayerMatchData, IHtmlContent> printMatch = 
                    @<tr class='clickable-row' data-href='/Match/@item.MatchId'>
                        <td>@item.MatchId</td>
                        <td>@item.Match.GetFormattedDate()</td>
                        <td>@item.Match.GetFormattedTime()</td>
                        <td>
                            @if (@item.Match.Winner == @item.Team) {
                                <span class='radiant'>Won Game</span>
                            } else {
                                <span class='dire'>Lost Game</span>
                            }
                        </td>
                        <td>@item.Match.LastWave</td>
                        <td>@Html.FormatRatingChange(item.RatingChange)</td>
                    </tr>;
                foreach(var match in @Model.Player.MatchDatas.OrderByDescending(m => m.MatchId)) {
                    @printMatch(match)
                }
            }
        </tbody>
    </table>
</div>


@section scripts {
    <script>
        $(function () {
            $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
        });
    </script>
}
