@page
@using LegionTDServerReborn.Models
@using LegionTDServerReborn.Extensions
@using LegionTDServerReborn.Helpers
@using Microsoft.AspNetCore.Html
@model SearchModel
@{
    ViewData["Title"] = $"Search: {Model.SearchTerm}";
}

<h2>Search results for: @Model.SearchTerm</h2>

@{
    Func<SearchResult, IHtmlContent> printResult = 
        @<div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
            <a class="search-result" href="@Url.RouteUrl($"{item.AspPage}/{item.AspRouteValue}")" style="height: 55px;">
                <div class="search-result-image">
                    <img src="@item.Image">
                </div>
                <div>
                    @item.Title<br>
                    @item.Desc
                </div>
            </a>
        </div>;

    if (Model.Match != null) {
        <div class="row">
            <h3>Match</h3>
            @Html.Partial("_PartialSearchResult", SearchResult.FromMatch(Model.Match))
        </div>
    }
    if (Model.Builders.Count > 0) {
        <div class="row">
            <h3>Builder</h3>
            @foreach(var b in Model.Builders) {
                @Html.Partial("_PartialSearchResult", SearchResult.FromBuilder(b))
            }
        </div>
    }
    if (Model.Units.Count > 0) {
        <div class="row">
            <h3>Units</h3>
            @foreach(var u in Model.Units) {
                @Html.Partial("_PartialSearchResult", SearchResult.FromUnit(u))
            }
        </div>
    }
    if (Model.Players.Count > 0) {
        <div class="row">
            <h3>Players</h3>
            @foreach(var p in Model.Players.Where(p => p.Avatar != null)) {
                @Html.Partial("_PartialSearchResult", SearchResult.FromPlayer(p))
            }
        </div>
    }
}
